@import '../../assets/scss/bootstrap/_functions.scss';
@import '../../assets/scss/bootstrap/_variables.scss';

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .btn {
        background: transparent;
        border-radius: 0;
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem 0.25rem;
        text-transform: none;

        &:after {
            display: none;
        }
    }
    .dropdown-menu {
        background: #E5F4F6;
        border: 0;
        border-radius: 0;
        box-shadow: 0 0.125rem 0.5rem rgba(#000, .1);
        font-size: 14px;
        margin: 0;
        min-width: 15rem;

        @media (min-width: 768px) {
            font-size: 16px;
            min-width: 18rem;
        }

        a {
            padding: 1.25rem 1rem;
            text-decoration: none;
            transition: .2s ease;

            &:hover,
            &.active {
                background: $primary;
                color: $white;
                span {
                    color: $white;
                }
            }
        }
        p {
            opacity: 0.4;
            padding: 1.25rem 1rem;
        }
        svg {
            margin-right: 0.375rem;
        }
        span {
            color: $gray-700;
            transition: .2s ease;
        }
    }
    .dropdown-divider {
        border-color: $white;
        margin: 0;
    }
}