.accordion {
    .card {
        border-top: 0;
        border-left: 0;
        border-right: 0;

        &-header {
            background: none;
            border: 0;
            border-radius: 0;
            padding-left: 0;
            padding-right: 0;

            .btn {
                color: $tertiary;
                font-size: 0.8rem;
                font-weight: 700;
                padding: 0;
                text-align: left;
                text-transform: uppercase;
                width: 100%;

                &:hover {
                    text-decoration: none;

                    span {
                        color: $dark;
                    }
                    svg {
                        fill: $dark;
                    }
                }
                &:focus {
                    text-decoration: none;
                }

                svg,
                span {
                    transition: .3s ease;
                }
                .toggle {
                    font-weight: 300;
                }
            }
        }

        &-body {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}