body {
    font-size: 14px;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }
}
a {
    color: $primary;
    text-decoration: underline;
    transition: .3s ease;
    &:hover {
        color: $dark;
    }
}
h5,
h6 {
    color: $dark;
}
svg {
    fill: currentColor;
}
.site-main {
    padding-top: 56px;
    padding-left: 20%;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}
.site-content {
    padding: 2rem;
}
.content-wrap {
    padding-right: 180px;
}