.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;

    &.focused {
        background-color: #e6e6e6;
    }
    &.faded {
        background-color: rgba($primary, 0.5);
    }
    &.range,
    &:hover {
        background-color: $primary;
        color: white;
    }
}