label {
    color: $tertiary;
    font-size: 0.8rem;
    font-weight: 700;
}
select {
    &:not([multiple]) {
        -webkit-appearance: none;
        -moz-appearance: window;
        appearance: none;
        background: url(assets/icons/caret-down.svg) center right 1rem no-repeat;
    }

    &::-ms-expand {
        display: none;
    }
}
input[type="checkbox"],
input[type="radio"] {
    + label {
        color: $dark;
        font-weight: normal;
    }
    &:disabled {
        + label {
            color: $medium !important;
        }
    }
}


input,
select,
textarea {
    &.is-invalid {
        background-color: rgba($red, 0.1);
    }
}