.table-dotted {
    td,
    th {
        border-top: 0;
        border-bottom: 1px dotted $light;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}